################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Tp1/FileContentIndex/57a35011-abb2-4f18-8102-168d70ab730a.vsidx
/.vs/Tp1/FileContentIndex/b9a3b992-36df-4269-beda-ef73f423a6e8.vsidx
/.vs/Tp1/FileContentIndex/ba7ffdc7-6dcd-4ae5-acf5-08fe8c03b2c9.vsidx
/.vs/Tp1/FileContentIndex/d4abaa7f-fd25-47c5-8923-35f90fed4884.vsidx
/.vs/Tp1/FileContentIndex
